<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moodeo</title>
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    </head>
    <body>
      <div class="s1"></div>
    </body>
</html>
