<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
      <form method='post' action='/signin'>
        <input type='text' name='name' placeholder="name"></input>
        <input type='text' name='username' placeholder="username"></input>
        <input type='text' name='password' placeholder="password"></input>
        <input type='text' name='password2' placeholder="password again"></input>
        <input type='submit' value='signup'>
      </form>
    </body>
</html>
